---
const { currentCategoryId, limit } = Astro.props;
import {
	capitalizeFirstLetter,
	getSectionPath,
	SectionId,
} from "../../content";
import { getCategories, getCategoryLink } from "../../content";
import LinkItem from "../LinkItem.astro";
import SidebarBlock from "../SidebarBlock.astro";
import T from "../T.astro";

const allCategories = getCategories();
const categories = limit ? allCategories.slice(0, limit) : allCategories;

const showMore = limit && limit < allCategories.length;
---

<SidebarBlock k="catalogue.categories">
	<ul class="items-list">
		{
			categories.map((category) => {
				const { id, count } = category;
				const isCurrent = id === currentCategoryId;
				return (
					<li class={isCurrent ? "category-current" : ""}>
						<LinkItem path={getCategoryLink(category)}>
							<T k={id} fallback={capitalizeFirstLetter(id)} />
							<span class="count">({count})</span>
						</LinkItem>
					</li>
				);
			})
		}

		{
			showMore && (
				<li>
					<LinkItem path={getSectionPath(SectionId.CATALOGUE)}>
						<T k="voir_plus" />
					</LinkItem>
				</li>
			)
		}
	</ul>
</SidebarBlock>

<style type="text/scss">
	.categories .items-list {
		overflow-y: scroll;
		max-height: 80vh;
		overscroll-behavior: contain;
	}
	a {
		/* font-weight: normal; */
	}
	.category-current {
		a {
			font-weight: bold;
		}
	}
	.count {
		font-weight: normal;
	}
</style>
