---
import { getInstrumentsGroups } from "../../helpers";
const { currentInstrumentId, limit } = Astro.props;
import { capitalizeFirstLetter } from "../../helpers";
import { getInstrumentGroupLink, getCatalogue } from "../../helpers";
import T from "../T.astro";

const allInstrumentGroups = getInstrumentsGroups();
const instrumentGroups = limit
	? allInstrumentGroups.slice(0, limit)
	: allInstrumentGroups;
---

<div class="instruments">
	<h3 class="items-list-heading">Instruments</h3>
	<ul class="items-list">
		{
			instrumentGroups.map(({ id, count }) => {
				const isCurrent = id === currentInstrumentId;
				return (
					<li class={isCurrent ? "instrument-current" : ""}>
						<a
							class="link-heading"
							href={getInstrumentGroupLink(id)}
						>
							<T k={id} fallback={capitalizeFirstLetter(id)} />
							<span class="count">({count})</span>
						</a>
						{/* {instruments.length > 1 && (
							<p>
								{instruments.map((i) => (
									<>
										<T k={i} />
										<span>, </span>
									</>
								))}
							</p>
						)} */}
					</li>
				);
			})
		}
	</ul>
</div>

<style type="text/scss">
	.instruments .items-list {
		overflow-y: scroll;
		max-height: 80vh;
		overscroll-behavior: contain;
	}
	a {
	}
	.instrument-current {
		a {
			font-weight: bold;
		}
	}
	.count {
		font-weight: normal;
	}
	p {
		margin-bottom: 0;
		font-size: 1rem;
	}
</style>
