---
import { getInstrumentsGroups } from "../../content";
const { currentInstrumentId, limit } = Astro.props;
import { capitalizeFirstLetter } from "../../content";
import { getInstrumentGroupLink } from "../../content";
import T from "../T.astro";

const allInstrumentGroups = getInstrumentsGroups();
const instrumentGroups = limit
	? allInstrumentGroups.slice(0, limit)
	: allInstrumentGroups;

const showMore = limit && limit <= instrumentGroups.length;
---

<div class="instruments">
	<h3 class="items-list-heading">
		<T k="catalogue.instruments" />
	</h3>
	<ul class="items-list">
		{
			instrumentGroups.map(({ id, count }) => {
				const isCurrent = id === currentInstrumentId;
				return (
					<li class={isCurrent ? "instrument-current" : ""}>
						<a
							class="link-heading"
							href={getInstrumentGroupLink(id)}
						>
							<T k={id} fallback={capitalizeFirstLetter(id)} />
							<span class="count">({count})</span>
						</a>
						{/* {instruments.length > 1 && (
							<p>
								{instruments.map((i) => (
									<>
										<T k={i} />
										<span>, </span>
									</>
								))}
							</p>
						)} */}
					</li>
				);
			})
		}
		{
			showMore && (
				<li>
					<a href="/catalogue" class="link-heading">
						<T k="voir_plus" />
					</a>
				</li>
			)
		}
	</ul>

	<style type="text/scss">
		a {
		}
		.instrument-current {
			a {
				font-weight: bold;
			}
		}
		.count {
			font-weight: normal;
		}
		p {
			margin-bottom: 0;
		}
	</style>
</div>
