---
import { getInstrumentsGroups, getSectionPath, SectionId } from "../../content";
const { currentInstrumentId, limit } = Astro.props;
import { capitalizeFirstLetter } from "../../content";
import { getInstrumentGroupLink } from "../../content";
import LinkItem from "../LinkItem.astro";
import SidebarBlock from "../SidebarBlock.astro";
import T from "../T.astro";

const allInstrumentGroups = getInstrumentsGroups();
const instrumentGroups = limit
	? allInstrumentGroups.slice(0, limit)
	: allInstrumentGroups;

const showMore = limit && limit <= instrumentGroups.length;
---

<SidebarBlock k="catalogue.instruments">
	<ul class="items-list">
		{
			instrumentGroups.map(({ id, count }) => {
				const isCurrent = id === currentInstrumentId;
				return (
					<li class={isCurrent ? "instrument-current" : ""}>
						<LinkItem path={getInstrumentGroupLink(id)}>
							<T k={id} fallback={capitalizeFirstLetter(id)} />
							<span class="count">({count})</span>
						</LinkItem>
						{/* {instruments.length > 1 && (
							<p>
								{instruments.map((i) => (
									<>
										<T k={i} />
										<span>, </span>
									</>
								))}
							</p>
						)} */}
					</li>
				);
			})
		}
		{
			showMore && (
				<li>
					<LinkItem path={getSectionPath(SectionId.CATALOGUE)}>
						<T k="voir_plus" />
					</LinkItem>
				</li>
			)
		}
	</ul>
</SidebarBlock>

<style type="text/scss">
	a {
	}
	.instrument-current {
		a {
			font-weight: bold;
		}
	}
	.count {
		font-weight: normal;
	}
	p {
		margin-bottom: 0;
	}
</style>
