---
import {
	convertTitle,
	getConcerts,
	getDisques,
	getEditeur,
	getOeuvre,
	getPath,
} from "../../helpers";
import Field from "../Field.astro";
const { id } = Astro.props;
const oeuvre = getOeuvre(id);
const {
	date_comp,
	opus,
	titre,
	editeur,
	commentaire,
	formation,
	texte,
	creation,
	duree,
} = oeuvre;

const concerts = getConcerts().filter((concert) =>
	concert.oeuvres?.includes(titre),
);

const disques = getDisques().filter((disque) =>
	disque.oeuvres?.includes(titre),
);

const editeurItem = editeur && getEditeur(convertTitle(editeur));
---

<div>
	<div class="opus">Opus {opus}</div>
	<h2 class="title">
		{titre}
	</h2>
	<div class="grid">
		<main>
			<table class="infos">
				<tbody>
					{
						editeurItem && (
							<tr>
								<th>Éditeur</th>
								<td>
									<a href={getPath(editeurItem)}>{editeur}</a>
								</td>
							</tr>
						)
					}
					<Field label="Formation" value={formation} />
					<Field label="Date de Composition" value={date_comp} />
					<Field label="Texte" value={texte} />
					<Field label="Création" value={creation} />
					<Field label="Durée" value={duree} />
				</tbody>
			</table>
			<div set:html={commentaire} />
		</main>
		<nav class="sidebar">
			{
				disques && disques.length > 0 && (
					<div>
						<h4>Disques</h4>
						<ul class="nav-list">
							{disques.map((disque) => {
								return (
									<li>
										<a href={getPath(disque)}>
											{disque.titre}
										</a>
									</li>
								);
							})}
						</ul>
					</div>
				)
			}
			{
				concerts && concerts.length > 0 && (
					<div>
						<h4>Concerts</h4>
						<ul class="items-list">
							{concerts.map((concert) => {
								return (
									<li>
										<a href={getPath(concert)}>
											{concert.titre}
										</a>
									</li>
								);
							})}
						</ul>
					</div>
				)
			}
		</nav>
	</div>
</div>

<style type="text/scss">
	.opus {
		text-transform: uppercase;
		color: var(--textSecondaryColor);
		margin-bottom: var(--quarterSpacing);
	}
	.title {
		margin-bottom: var(--spacing);
	}
</style>
