---
import { getOeuvre, getPath } from "../../helpers";
const { id } = Astro.props;
const oeuvre = getOeuvre(id);
const { date_comp, opus, titre, editeur, commentaire } = oeuvre;
---

<div>
	<div>
		<h4>{date_comp}</h4>
		<h5>{opus}</h5>
		<h3>
			<a href={getPath(oeuvre)}>{titre}</a>
		</h3>
		<h5>{editeur}</h5>
		<div set:html={commentaire} />
	</div>
</div>
