---
import Oeuvre from "../../../components/catalogue/oeuvre/Oeuvre.compact.astro";
import {
	capitalizeFirstLetter,
	getCategories,
	getInstrumentsGroups,
	getItemsStaticPaths,
	getString,
	instrumentGroups,
	SectionId,
} from "../../../helpers";
import { convertTitle } from "../../../helpers";
import { getCatalogue } from "../../../helpers";
import Layout from "../../../layouts/Layout.astro";
import type { WithId } from "../../../types";
import Instruments from "../../../components/catalogue/Instruments.astro";
import SubgridLayout from "../../../components/layouts/SubgridLayout.astro";
import T from "../../../components/T.astro";
import PageLayout from "../../../components/layouts/PageLayout.astro";
import Categories from "../../../components/catalogue/Categories.astro";
import AllCatalog from "../../../components/catalogue/AllCatalog.astro";
import Editeurs from "../../../components/catalogue/Editeurs.astro";
import Search from "../../../components/catalogue/Search.astro";

const { id } = Astro.params;
const categoryId = id as string;

export function getStaticPaths() {
	return getItemsStaticPaths(
		getCategories().map(({ id }) => ({ id: convertTitle(id) }) as WithId)
	);
}

const catalogue = getCatalogue({ categoryId });
const title = categoryId || "";

const catalogueByNumberOfInstruments = [...Array(100)]
	.map((_x, count) => ({
		count: count + 1,
		items: catalogue.filter((o) => o.instruments?.length === count + 1),
	}))
	.filter(({ items }) => items.length > 0);
---

<script src="../../../scripts/search.ts"></script>

<Layout title={`${getString("catalogue")?.t} (${title})`}>
	<PageLayout sectionId={SectionId.CATALOGUE}>
		<h2
			slot="page-heading"
			style={`view-transition-name: heading-catalogue`}
		>
			<T k="catalogue" />: <T
				k={categoryId}
				fallback={capitalizeFirstLetter(title)}
			/> ({catalogue.length}
			<T k="oeuvre" kPlural="oeuvres" count={catalogue.length} />)
		</h2>
		{
			catalogueByNumberOfInstruments.map(({ count, items }) => (
				<div class="subcontainer" slot="page-content">
					<SubgridLayout>
						<h4 class="count-title" slot="col1">
							<span class="count-heading">
								{count}
								<T
									k="instrument"
									kPlural="instruments"
									count={count}
								/>
								{/* <span>
										({items.length}{" "}
										{pluralize("œuvre", items.length)})
									</span> */}
							</span>
						</h4>
						<div class="feed-items" slot="main">
							{items.map((oeuvre) => (
								<Oeuvre id={oeuvre.id} />
							))}
						</div>
					</SubgridLayout>
				</div>
			))
		}
		<AllCatalog slot="page-sidebar" />
		<Search slot="page-sidebar" />
		<Categories slot="page-sidebar" currentCategoryId={categoryId} />
		<Instruments slot="page-sidebar" />
		<Editeurs slot="page-sidebar" />

	</PageLayout>
</Layout>


<style type="text/scss">
    // .count-title {
    // 	position: sticky;
    // 	top: 0px;
    // 	font-size: 1.6rem;
    // }
    @supports (selector(:has(*))) {
        .subcontainer:not(:has(.visible)) {
            display: none;
        }
    }
    .instruments-list {
        display: flex;
        gap: var(--halfSpacing);
    }
    .count-heading {
        white-space: nowrap;
    }
</style>