---
import Oeuvre from "../../../components/catalogue/oeuvre/Oeuvre.compact.astro";
import {
	getEditeur,
	getEditeurs,
	getSectionPath,
	getString,
	SectionId,
} from "../../../content";
import { getCatalogue } from "../../../content";
import Layout from "../../../layouts/Layout.astro";
import Instruments from "../../../components/catalogue/Instruments.astro";
import T from "../../../components/T.astro";
import PageLayout from "../../../components/layouts/PageLayout.astro";
import Categories from "../../../components/catalogue/Categories.astro";
import AllCatalog from "../../../components/catalogue/AllCatalog.astro";
import Editeurs from "../../../components/catalogue/Editeurs.astro";
import Search from "../../../components/catalogue/Search.astro";
import { getItemIdFromSlug, getItemsStaticPaths } from "../../../helpers";


export const getStaticPaths = async ()=> {
	return getItemsStaticPaths(
		getEditeurs()
	);
}

const { id } = Astro.params;
const editeur = getEditeur(getItemIdFromSlug(id))
const {titre}=editeur

const catalogueByEditeur = getCatalogue({editeurId: titre})

---

<script src="../../../scripts/search.ts"></script>

<Layout title={`${getString("catalogue")?.t} (${titre})`}>
	<PageLayout sectionId={SectionId.CATALOGUE} parentPath={getSectionPath(SectionId.CATALOGUE)}>
		<h2
			slot="page-heading"
			style={`view-transition-name: heading-catalogue`}
		>
			<T k="catalogue" />: {titre} ({catalogueByEditeur.length}
			<T k="oeuvre" kPlural="oeuvres" count={catalogueByEditeur.length} />)
		</h2>
		{
			catalogueByEditeur.map((oeuvre) => (
				<div class="subcontainer" slot="page-content">
								<Oeuvre id={oeuvre.id} />
				</div>
			))
		}
		<AllCatalog slot="page-sidebar" />
		<Search slot="page-sidebar" />
		<Categories slot="page-sidebar" />
		<Instruments slot="page-sidebar" />
		<Editeurs slot="page-sidebar" currentEditeurId={id}  />

	</PageLayout>
</Layout>

<style type="text/scss">
    // .count-title {
    // 	position: sticky;
    // 	top: 0px;
    // 	font-size: 1.6rem;
    // }
    @supports (selector(:has(*))) {
        .subcontainer:not(:has(.visible)) {
            display: none;
        }
    }
    .instruments-list {
        display: flex;
        gap: var(--halfSpacing);
    }
    .count-heading {
        white-space: nowrap;
    }
</style>