---
import { getDisque } from "../../content";
import CatalogueRelated from "../catalogue/CatalogueRelated.astro";
import Field from "../Field.astro";
import DisqueCover from "./DisqueCover.astro";
const { id } = Astro.props;
const disque = getDisque(id);
const {
	titre,
	commentaire,
	oeuvres,
	annee,
	interpretes_disque,
	maison,
	image,
	ref,
} = disque;
---

<div>
	{image && <img alt={titre} src={`/images/disques/${image}`} />}
	<table>
		<tbody>
			<Field label="Année">{annee}</Field>
			<Field label="Interprètes">
				{interpretes_disque}
			</Field>
			{maison && <Field label="Maison d'Édition">{maison}</Field>}
			<Field label="Oeuvres">
				<CatalogueRelated titres={oeuvres} />
			</Field>
			{ref && <Field label="Ref">{ref}</Field>}
			{commentaire && <Field>{commentaire}</Field>}
		</tbody>
	</table>
</div>

<style>
	img {
		max-width: 350px;
		margin-bottom: var(--spacing);
	}
</style>
