---
import { getDisque } from "../../helpers";
import CatalogueRelated from "../catalogue/CatalogueRelated.astro";
import Field from "../Field.astro";
const { id } = Astro.props;
const disque = getDisque(id);
const { titre, commentaire, oeuvres, annee, interpretes_disque, maison } =
	disque;
---

<div>
	<h2>
		{titre}
	</h2>

	<table>
		<tbody>
			<Field label="Année">{annee}</Field>
			<Field label="Interprètes">
				{interpretes_disque}
			</Field>
			{maison && <Field label="Maison d'Édition">{maison}</Field>}
			<Field label="Oeuvres">
				<CatalogueRelated titres={oeuvres} />
			</Field>
			{commentaire && <Field>{commentaire}</Field>}
		</tbody>
	</table>
</div>
