---
import { getConcert, getPath } from "../../helpers";
import CatalogueRelated from "../catalogue/CatalogueRelated.astro";

const { id, variant = "full" } = Astro.props;
const concert = getConcert(id);

const { interpretes, adresse, date, titre, commentaire, oeuvres } = concert;
const showFull = variant === "full";
---

<div>
	<h3>
		<a href={getPath(concert)}>{titre}</a>
	</h3>
	<h4>{date}</h4>
	{
		adresse && showFull && (
			<div>
				<>
					<h4>Adresse</h4>
					<p>{adresse}</p>
				</>
			</div>
		)
	}
	{
		interpretes && (
			<div>
				<>
					<h4>Interprètes</h4>
					<p>{interpretes}</p>
				</>
			</div>
		)
	}
	<CatalogueRelated titres={oeuvres} />

	{showFull && <div set:html={commentaire} />}
</div>
