---
import { getConcert, SectionId } from "../../content";
import CatalogueRelated from "../catalogue/CatalogueRelated.astro";
import Date from "../Date.astro";
import Field from "../Field.astro";
import PageLayout from "../layouts/PageLayout.astro";

const { id, variant = "full" } = Astro.props;
const concert = getConcert(id);

const { interpretes, adresse, date, titre, commentaire, oeuvres } = concert;
const showFull = variant === "full";
---

<PageLayout sectionId={SectionId.CONCERTS}>
	<div slot="page-heading">
		<h3 class="subheading"><Date date={date} /></h3>
		<h2>
			{titre}
		</h2>
	</div>
	<div slot="page-content">
		<table>
			<tbody>
				{showFull && <Field label="Adresse">{adresse}</Field>}
				<Field label="Interprètes">{interpretes}</Field>
				{
					oeuvres && oeuvres.length && (
						<Field label="Œuvres">
							<CatalogueRelated titres={oeuvres} />
						</Field>
					)
				}
				{
					commentaire && (
						<Field>
							<div set:html={commentaire} />
						</Field>
					)
				}
			</tbody>
		</table>
	</div>
</PageLayout>
