---
import { getConcert, getPath } from "../../helpers";
import CatalogueRelated from "../catalogue/CatalogueRelated.astro";
import Field from "../Field.astro";

const { id, variant = "full" } = Astro.props;
const concert = getConcert(id);

const { interpretes, adresse, date, titre, commentaire, oeuvres } = concert;
const showFull = variant === "full";
---

<div>
	<h3>
		<a href={getPath(concert)}>{titre}</a>
	</h3>
	<h4>{date}</h4>
	{showFull && <Field label="Adresse" value={adresse} />}
	<Field label="Interprètes" value={interpretes} />

	<CatalogueRelated titres={oeuvres} />

	{showFull && <div set:html={commentaire} />}
</div>
