---
import { getConcert, getPath } from "../../helpers";
import CatalogueRelated from "../catalogue/CatalogueRelated.astro";
import Date from "../Date.astro";
import Field from "../Field.astro";

const { id, variant = "full" } = Astro.props;
const concert = getConcert(id);

const { interpretes, adresse, date, titre, commentaire, oeuvres } = concert;
const showFull = variant === "full";
---

<div class="content-block">
	<Date date={date} />

	<h3>
		<a href={getPath(concert)}>{titre}</a>
	</h3>
	<table>
		<tbody>
			{showFull && <Field label="Adresse">{adresse}</Field>}
			<Field label="Interprètes">{interpretes}</Field>
			{
				oeuvres && oeuvres.length && (
					<Field label="Œuvres">
						<CatalogueRelated titres={oeuvres} />
					</Field>
				)
			}
		</tbody>
	</table>

	{showFull && <div set:html={commentaire} />}
</div>
