---
import { fade, slide } from "astro:transitions";
import T from "../T.astro";
import {
	getSectionPath,
	getSection,
	customTransition,
	getSectionComponent,
} from "../../helpers";
const { sectionId, color, inverted } = Astro.props;

const SectionComponent = getSectionComponent(sectionId);
---

<section
	class={`home-section home-section-active section-${sectionId} section-${inverted ? "inverted" : "normal"}`}
	style={`view-transition-name: section-${sectionId}`}
>
	<div class="bg"></div>
	<div class="inner">
		<h2
			class="section-heading link-heading"
			style={`view-transition-name: heading-${sectionId}`}
		>
			<a
				class="section-link"
				href={getSectionPath(getSection(sectionId))}
			>
				<T k={sectionId} />
			</a>
		</h2>
		{SectionComponent ? <SectionComponent /> : null}
	</div>
</section>

<style is:global define:vars={{ sectionId, color, inverted }}>
	.home-section {
		view-transition-name: var(--sectionId);
		grid-area: var(--sectionId);
		background-color: var(--color);
		background-color: var(--bgColor);

		padding: var(--spacing);
		/* border: 2px solid var(--borderColor); */
		position: relative;
		background: var(--bgColor);

		.bg {
			pointer-events: none;
			background: url("/images/ogreif-large.jpg") fixed;
			background-size: cover;
			filter: saturate(0.3) opacity(0.2);
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			/* transition: all 600ms ease-in; */
		}
		&.home-section-active:hover {
			background: var(--color, --bgColorSecondary);
		}

		/* a,
		a:link,
		a:visited {
			color: var(--textColor);
		} */
	}
	.section-heading {
		font-size: 1.3rem;
		margin-bottom: var(--spacing);
		border-bottom: var(--borderWidth) solid var(--borderColor);
		padding-bottom: var(--halfSpacing);
		/* font-size: 4rem;
		position: absolute;
		top: -22px;
		left: -8px;
		opacity: 0.2; */
		a {
			color: var(--textColor);
		}
	}
	.section-inverted {
		a {
			color: var(--invertedTextColor);
		}
		&:hover a {
			color: var(--invertedHoverTextColor);
		}
	}
</style>
