---
import { capitalizeFirstLetter, getInstrumentLink } from "../../../content";
import type { OeuvreWithId } from "../../../types";
import { getString } from "../../../content";
import uniq from "lodash/uniq.js";

interface Props {
	oeuvre: OeuvreWithId;
}

const { oeuvre } = Astro.props;
const { instruments = [] } = oeuvre;

const instrumentsCounts: { [key: string]: number } = {};
instruments.forEach((instrumentId: string) => {
	if (instrumentsCounts[instrumentId]) {
		instrumentsCounts[instrumentId]++;
	} else {
		instrumentsCounts[instrumentId] = 1;
	}
});
const instrumentsDeduped: Array<{ count: number; id: string; label: string }> =
	uniq(instruments).map((id: string) => {
		const count = instrumentsCounts[id];
		const key = `instruments.${id}`;
        const fallback = capitalizeFirstLetter(id)
		const name = getString(key, {
			count,
			fallback,
		});
		const label = count >= 2 ? `${count} ${name?.t}` : name?.t;
		return { id, count, label };
	});

---

<div>
	{
		instrumentsDeduped.map(({ id, label }, i) => {
			const link = getInstrumentLink(id);
			const c = `instrument-${id}`;
			return (
				<span class="instruments-item"><a href={link} class={c}>{label}</a></span>
			);
		})
	}
	<!-- ({formation}) -->
</div>

<style>
	a {
		font-family: var(--fontFamilySecondary);
	}
    .instruments-item {
        &:not(:last-child)::after {
            content: ", ";
            display: inline;
        }
    }
</style>
