---
import { getOeuvre } from "../../../content";
import { convertTitle, getPath } from "../../../content";
import Instruments from "./Instruments.astro";
const { id } = Astro.props;
const oeuvre = getOeuvre(id);
const {
	opus,
	titre,
	instruments = [],
	// editeur,
	// texte,
	// creation,
	// duree,
} = oeuvre;

const className = instruments
	?.map((i) => `instrument-${convertTitle(i)}`)
	.join(" ");
---

<div data-titre={titre} class={`catalogue-oeuvre visible ${className}`}>
	<div class="opus">Opus {opus}</div>
	<h3>
		<a class="link-heading" href={getPath(oeuvre)}>{titre}</a>
	</h3>
	<main>
		<Instruments oeuvre={oeuvre} />
	</main>
</div>

<style type="text/scss">
	.opus {
		text-transform: uppercase;
		color: var(--textColorSecondary);
		margin-bottom: var(--eighthSpacing);
	}

	.visible {
		display: block;
	}
	.hidden {
		display: none;
	}
	h3 {
		margin-bottom: var(--quarterSpacing);
	}
	a {
		text-decoration: none;
	}
</style>
