---
import { convertTitle, getOeuvre, getPath } from "../../../helpers";
import Instruments from "./Instruments.astro";
const { id } = Astro.props;
const oeuvre = getOeuvre(id);
const {
	opus,
	titre,
	instruments = [],
	// editeur,
	// texte,
	// creation,
	// duree,
} = oeuvre;

const className = instruments
	?.map((i) => `instrument-${convertTitle(i)}`)
	.join(" ");
---

<div class={`visible ${className}`}>
	<div class="opus">Opus {opus}</div>
	<h3 class="feed-heading">
		<a href={getPath(oeuvre)}>{titre}</a>
	</h3>
	<main>
		<Instruments oeuvre={oeuvre} />
	</main>
</div>

<style type="text/scss">
	.opus {
		text-transform: uppercase;
		color: var(--textSecondaryColor);
		margin-bottom: var(--eighthSpacing);
	}

	.visible {
		display: block;
	}
	.hidden {
		display: none;
	}
</style>
