---
import {
	convertTitle,
	getConcerts,
	getDisques,
	getEditeur,
	getOeuvre,
	getPath,
} from "../../../helpers";
import Field from "../../Field.astro";
import GridLayout from "../../layouts/GridLayout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import Instruments from "./Instruments.astro";
const { id } = Astro.props;
const oeuvre = getOeuvre(id);
const { date_comp, opus, titre, editeur, commentaire, texte, creation, duree } =
	oeuvre;

const concerts = getConcerts().filter((concert) =>
	concert.oeuvres?.includes(titre),
);

const disques = getDisques().filter((disque) =>
	disque.oeuvres?.includes(titre),
);

const editeurItem = editeur && getEditeur(convertTitle(editeur));
---

<MainLayout>
	<div slot="heading">
		<div class="opus">Opus {opus}</div>
		<h2 class="title">
			{titre}
		</h2>
	</div>
	<GridLayout slot="content">
		<div slot="col1">1234</div>
		<main slot="main">
			<table class="infos">
				<tbody>
					{
						editeurItem && (
							<tr>
								<th>Éditeur</th>
								<td>
									<a href={getPath(editeurItem)}>{editeur}</a>
								</td>
							</tr>
						)
					}

					<Field label="Instruments"
						><Instruments oeuvre={oeuvre} /></Field
					>
					<Field label="Année">{date_comp}</Field>
					<Field label="Texte">{texte}</Field>
					<Field label="Création">{creation}</Field>
					<Field label="Durée">{duree}</Field>
				</tbody>
			</table>
			<div set:html={commentaire} />
		</main>
		<nav class="sidebar" slot="sidebar">
			<div class="sidebar-contents">
				{
					disques && disques.length > 0 && (
						<div>
							<h4>Disques</h4>
							<ul class="items-list">
								{disques.map((disque) => {
									return (
										<li>
											<a href={getPath(disque)}>
												{disque.titre}
											</a>
										</li>
									);
								})}
							</ul>
						</div>
					)
				}
				{
					concerts && concerts.length > 0 && (
						<div>
							<h4>Concerts</h4>
							<ul class="items-list">
								{concerts.map((concert) => {
									return (
										<li>
											<a href={getPath(concert)}>
												{concert.titre}
											</a>
										</li>
									);
								})}
							</ul>
						</div>
					)
				}
			</div>
		</nav>
	</GridLayout>
</MainLayout>

<style type="text/scss">
	.opus {
		text-transform: uppercase;
		color: var(--textSecondaryColor);
		margin-bottom: var(--quarterSpacing);
	}
</style>
